@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans Light';
    src: url('fonts/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Yanone Kaffeesatz Regular';
    src: url('fonts/yanonekaffeesatz-regular-webfont.eot');
    src: url('fonts/yanonekaffeesatz-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/yanonekaffeesatz-regular-webfont.woff') format('woff'),
         url('fonts/yanonekaffeesatz-regular-webfont.ttf') format('truetype'),
         url('fonts/yanonekaffeesatz-regular-webfont.svg#yanone_kaffeesatzregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Yanone Kaffeesatz Light';
    src: url('fonts/yanonekaffeesatz-light-webfont.eot');
    src: url('fonts/yanonekaffeesatz-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/yanonekaffeesatz-light-webfont.woff') format('woff'),
         url('fonts/yanonekaffeesatz-light-webfont.ttf') format('truetype'),
         url('fonts/yanonekaffeesatz-light-webfont.svg#yanone_kaffeesatzlight') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'Oswald Light';
    src: url('fonts/Oswald-Light-webfont.eot');
    src: url('fonts/Oswald-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Oswald-Light-webfont.woff') format('woff'),
         url('fonts/Oswald-Light-webfont.ttf') format('truetype'),
         url('fonts/Oswald-Light-webfont.svg#OswaldLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Regular-webfont.eot');
    src: url('fonts/Oswald-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Oswald-Regular-webfont.woff') format('woff'),
         url('fonts/Oswald-Regular-webfont.ttf') format('truetype'),
         url('fonts/Oswald-Regular-webfont.svg#OswaldBook') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Oswald Stencil';
    src: url('fonts/Oswald-Stencil-webfont.eot');
    src: url('fonts/Oswald-Stencil-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Oswald-Stencil-webfont.woff') format('woff'),
         url('fonts/Oswald-Stencil-webfont.ttf') format('truetype'),
         url('fonts/Oswald-Stencil-webfont.svg#OswaldStencilRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Propaganda';
    src: url('fonts/propaganda-webfont.eot');
    src: url('fonts/propaganda-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/propaganda-webfont.woff') format('woff'),
         url('fonts/propaganda-webfont.ttf') format('truetype'),
         url('fonts/propaganda-webfont.svg#propagandaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SquareFont';
    src: url('fonts/square-webfont.eot');
    src: url('fonts/square-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/square-webfont.woff') format('woff'),
         url('fonts/square-webfont.ttf') format('truetype'),
         url('fonts/square-webfont.svg#squarefontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ICON FONT - ELUSIVE */
@font-face {
  font-family: 'elusive';
  src: url('fonts/elusive.eot');
  src: url('fonts/elusive.eot?#iefix') format('embedded-opentype'),
       url('fonts/elusive.woff') format('woff'),
       url('fonts/elusive.ttf') format('truetype'),
       url('fonts/elusive.svg?#elusive') format('svg');
  font-weight: normal;
  font-style: normal;
}

