.bcsep { display: none; }
/*.widget_search { display: block; }*/
.widget-area li { display: block; }
button { margin-top: 8px; margin-right: 8px; }
#dw__search button { margin-top: 16px !important; }
#writtensidebar a { background-image: none; padding: 0px; }

#access li a{
	display: block;
	padding: .5em 1em;
}

.dokuwiki .wrapper { /* design.css */
	margin-bottom: 0px;
}

#writtensidebar h1 { .widget-title; background-color: #444444; color: white; }

#config__manager td.label span.outkey{ 
	font-size: 1em;
	margin: 0.35em 0px;
}

