
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}




#wpadminbar {
 display:none;
}



	/*	html { margin-top: 32px !important; }
	* html body { margin-top: 32px !important; }*/
	#header-full { padding-top: 32px; }



#header,
#main,
.topmenu,
#colophon,
#footer2-inner {
 max-width: __site_width__;
 /*desbest edit */
}
#container.one-column {
}
#container.two-columns-right #secondary {
 /*desbest edit*/
 width:__sidebar_width__;
 float:right;
}
#container.two-columns-right #content {
 /*width:900px;*/
 /*desbest edit*/
 margin-right: 15px;
 box-sizing: border-box;
 float:left;
} /*fallback*/
#container.two-columns-right #content {
 /*width: 300px;*/
 /*width:~"calc(100% - 300px);*/
 max-width: ~"calc(100% - "__sidebar_width__ ~" - 15px)";
 float:left;
}
#container.two-columns-left #primary {
 width:280px;
 float:left;
}
#container.two-columns-left #content {
 width:900px;
 float:right;
} /*fallback*/
#container.two-columns-left #content {
 width:-moz-~"calc(100% - 300px)";
 float:right;
 width:-webkit-~"calc(100% - 300px)";
 width:~"calc(100% - 300px)";
}
#container.three-columns-right .sidey {
 width:140px;
 float:left;
}
#container.three-columns-right #primary {
 margin-left:20px;
 margin-right:20px;
}
#container.three-columns-right #content {
 width:880px;
 float:left;
} /*fallback*/
#container.three-columns-right #content {
 width:-moz-~"calc(100% - 320px)";
 float:left;
 width:-webkit-~"calc(100% - 320px)";
 width:~"calc(100% - 320px)";
}
#container.three-columns-left .sidey {
 width:140px;
 float:left;
}
#container.three-columns-left #secondary {
 margin-left:20px;
 margin-right:20px;
}
#container.three-columns-left #content {
 width:880px;
 float:right;
} /*fallback*/
#container.three-columns-left #content {
 width:-moz-~"calc(100% - 320px)";
 float:right;
 width:-webkit-~"calc(100% - 320px)";
 width:~"calc(100% - 320px)";
}
#container.three-columns-sided .sidey {
 width:140px;
 float:left;
}
#container.three-columns-sided #secondary {
 float:right;
}
#container.three-columns-sided #content {
 width:880px;
 float:right; /*fallback*/
 width:-moz-~"calc(100% - 320px)";
 float:right;
 width:-webkit-~"calc(100% - 320px)";
 float:right;
 width:~"calc(100% - 320px)";
 float:right;
 margin: 0 160px 0 -1200px;
}
body {
 font-family: "Open Sans";
}
#content h1.entry-title a,
#content h2.entry-title a,
#content h1.entry-title ,
#content h2.entry-title,
#frontpage .nivo-caption h3,
.column-header-image,
.column-header-noimage,
.columnmore {
 font-family: "Bebas Neue";
}
.widget-title,
.widget-title a {
 line-height: normal;
 font-family: "Bebas Neue";
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
h3#comments-title,
#comments #reply-title {
 font-family: "Yanone Kaffeesatz Regular";
}
#site-title span a {
 font-family: "Bebas Neue";
}
#access ul li a,
#access ul li a span {
 font-family: "Open Sans";
}
body {
 /*color: #555555;*/
 /*background-color: #F3F3EE */
 /*desbest edit */
}
a {
 color: #BF4D28;
}
a:hover {
 color: #E6AC27;
}
#header-full {
 background-color: #FFFFFF;
}
#site-title span a {
 color:#BF4D28;
}
#site-description {
 color:#999999;
}
.socials a {
 background-color: #BF4D28;
}
.socials .socials-hover {
 background-color: #333333;
}
.breadcrumbs:before {
 border-color: transparent transparent transparent #555555;
}
#access a,
#nav-toggle span {
 color: #EEEEEE;
 background-color: #333333;
}
#access a:hover {
 color: #E6AC27;
 background-color: #444444;
}
#access > .menu > ul > li > a:after,
#access > .menu > ul ul:after {
 border-color: transparent transparent #BF4D28 transparent;
}
#access ul li:hover a:after {
 border-bottom-color:#E6AC27;
}
#access ul li.current_page_item > a,
#access ul li.current-menu-item > a, /*#access ul li.current_page_parent > a, #access ul li.current-menu-parent > a,*/
#access ul li.current_page_ancestor > a,
#access ul li.current-menu-ancestor > a {
 color: #FFFFFF;
 background-color: #000000;
}
#access ul li.current_page_item > a:hover,
#access ul li.current-menu-item > a:hover, /*#access ul li.current_page_parent > a:hover, #access ul li.current-menu-parent > a:hover,*/
#access ul li.current_page_ancestor > a:hover,
#access ul li.current-menu-ancestor > a:hover {
 color: #E6AC27;
}
#access ul ul {
 box-shadow: 3px 3px 0 rgba(102,102,102,0.3);
}
.topmenu ul li a {
 /*color: ;*/
 /* desbest edit */
}
.topmenu ul li a:before {
 border-color: #BF4D28 transparent transparent transparent;
}
.topmenu ul li a:hover:before {
 border-top-color:#E6AC27
}
.topmenu ul li a:hover {
 color: #BF4D28;
 /*background-color: ;*/
 /* desbest edit */
}
div.post,
div.page,
div.hentry,
div.product,
div[class^='post-'],
#comments,
.comments,
.column-text,
.column-image,
#srights,
#slefts,
#front-text3,
#front-text4,
.page-title,
.page-header,
article.post,
article.page,
article.hentry,
.contentsearch,
#author-info,
#nav-below,
.yoyo > li,
.woocommerce #mainwoo {
 background-color: #FFFFFF;
}
div.post,
div.page,
div.hentry,
.sidey .widget-container,
#comments,
.commentlist .comment-body,
article.post,
article.page,
article.hentry,
#nav-below,
.page-header,
.yoyo > li,
#front-text3,
#front-text4 {
 border-color: #EEEEEE;
}
#author-info,
#entry-author-info {
 border-color: #F7F7F7;
}
#entry-author-info #author-avatar,
#author-info #author-avatar {
 border-color: #EEEEEE;
}
article.sticky:hover {
 border-color: rgba(230,172,39,.6);
}
.sidey .widget-container {
 color: #333333;
 background-color: #FFFFFF;
}
.sidey .widget-title {
 color: #FFFFFF;
 background-color: #444444;
}
.sidey .widget-title:after {
 border-color: transparent transparent #BF4D28;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
 color: #444444;
}
.entry-title,
.entry-title a,
.page-title {
 color: #444444;
}
.entry-title a:hover {
 color: #000000;
}
#content h3.entry-format {
 color: #EEEEEE;
 background-color: #333333;
 border-color: #333333;
}
#content h3.entry-format {
 color: #EEEEEE;
 background-color: #333333;
 border-color: #333333;
}
.comments-link {
 background-color: #F7F7F7;
}
.comments-link:before {
 border-color: #F7F7F7 transparent transparent;
}
#footer {
 color: #AAAAAA;
 background-color: #1A1917;
}
#footer2 {
 color: #AAAAAA;
 background-color: #131211;
 border-color:rgba(255,255,255,.1);
}
#footer a {
 color: #BF4D28;
}
#footer a:hover {
 color: #E6AC27;
}
#footer2 a {
 color: #BF4D28;
}
#footer2 a:hover {
 color: #E6AC27;
}
#footer .widget-container {
 color: #333333;
 background-color: #FFFFFF;
}
#footer .widget-title {
 color: #FFFFFF;
 background-color: #444444;
}
#footer .widget-title:after {
 border-color: transparent transparent #BF4D28;
}
.footermenu ul li a:after {
 border-color: transparent transparent #BF4D28 transparent;
}
a.continue-reading-link {
 color:#EEEEEE !important;
 background:#333333;
 border-color:#EEEEEE;
}
a.continue-reading-link:hover {
 background-color:#BF4D28;
}
.button,
#respond .form-submit input#submit {
 background-color: #F7F7F7;
 border-color: #EEEEEE;
}
.button:hover,
#respond .form-submit input#submit:hover {
 border-color: #CCCCCC;
}
.entry-content tr th,
.entry-content thead th {
 color: #FFFFFF;
 background-color: #444444;
}
.entry-content fieldset,
#content tr td {
 border-color: #CCCCCC;
}
hr {
 background-color: #CCCCCC;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select,
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"] {
 background-color: #F7F7F7;
 border-color: #CCCCCC #EEEEEE #EEEEEE #CCCCCC;
 color: #555555;
}
input[type="submit"],
input[type="reset"] {
 color: #555555;
 background-color: #F7F7F7;
 border-color: #EEEEEE;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
textarea:hover,
input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="month"]:hover,
input[type="number"]:hover,
input[type="range"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="week"]:hover {
 background-color: rgb(247,247,247);
 background-color: rgba(247,247,247,0.4);
}
.entry-content code {
 border-color: #CCCCCC;
 background-color: #F7F7F7;
}
.entry-content pre {
 background-color: #F7F7F7;
}
.entry-content blockquote {
 border-color: #BF4D28;
 background-color: #F7F7F7;
}
abbr,
acronym {
 border-color: #555555;
}
span.edit-link {
 color: #555555;
 background-color: #EEEEEE;
 border-color: #F7F7F7;
}
.meta-border .entry-meta span,
.meta-border .entry-utility span.bl_posted {
 border-color: #F7F7F7;
}
.meta-accented .entry-meta span,
.meta-accented .entry-utility span.bl_posted {
 background-color: #EEEEEE;
 border-color: #F7F7F7;
}
.comment-meta a {
 color: #999999;
}
.comment-author {
 background-color: #F7F7F7;
}
.comment-details:after {
 border-color: transparent transparent transparent #F7F7F7;
}
.comment:hover > div > .comment-author {
 background-color: #EEEEEE;
}
.comment:hover > div > .comment-author .comment-details:after {
 border-color: transparent transparent transparent #EEEEEE;
}
#respond .form-allowed-tags {
 color: #999999;
}
.comment .reply a {
 border-color: #EEEEEE;
 color: #555555;
}
.comment .reply a:hover {
 background-color: #EEEEEE 
}
.nav-next a:hover,
.nav-previous a:hover {
 background: #F7F7F7
}
.pagination .current {
 font-weight: bold;
}
.pagination span,
.pagination a {
 background-color: #FFFFFF;
}
.pagination a:hover {
 background-color: #333333;
 color:#BF4D28
}
.page-link em {
 background-color: #333333;
 color:#BF4D28;
}
.page-link a em {
 color:#E6AC27;
}
.page-link a:hover em {
 background-color:#444444;
}
#searchform input[type="text"] {
 color:#999999;
}
#toTop {
 border-color:transparent transparent #131211;
}
#toTop:after {
 border-color:transparent transparent #FFFFFF;
}
#toTop:hover:after {
 border-bottom-color:#BF4D28;
}
.caption-accented .wp-caption {
 background-color:rgb(191,77,40);
 background-color:rgba(191,77,40,0.8);
 color:#FFFFFF
}
.meta-themed .entry-meta span {
 color: #999999;
 background-color: #F7F7F7;
 border-color: #EEEEEE;
}
.meta-themed .entry-meta span:hover {
 background-color: #EEEEEE;
}
.meta-themed .entry-meta span a:hover {
 color: #555555;
}
.entry-content,
.entry-summary,
#front-text3,
#front-text4 {
 text-align:Default ;
}
html {
 font-size:16px;
 word-spacing:Default;
 letter-spacing:Default;
 line-height:1.7em;
}
#content h1.entry-title,
#content h2.entry-title {
 font-size:36px ;
}
.widget-title,
.widget-title a {
 font-size:18px ;
}
.entry-content h1 {
 font-size: 2.676em;
}
#frontpage h1 {
 font-size: 2.076em;
}
.entry-content h2 {
 font-size: 2.352em;
}
#frontpage h2 {
 font-size: 1.752em;
}
.entry-content h3 {
 font-size: 2.028em;
}
#frontpage h3 {
 font-size: 1.428em;
}
.entry-content h4 {
 font-size: 1.704em;
}
#frontpage h4 {
 font-size: 1.104em;
}
.entry-content h5 {
 font-size: 1.38em;
}
#frontpage h5 {
 font-size: 0.78em;
}
.entry-content h6 {
 font-size: 1.056em;
}
#frontpage h6 {
 font-size: 0.456em;
}
#site-title span a {
 font-size:48px ;
}
#access ul li a {
 font-size:14px ;
}
#access ul ul ul a {
 font-size:12px;
}
.nocomments,
.nocomments2 {
 display:none;
}
#header-container > div:first-child {
 margin:40px 0 0 0px;
}
.entry-content p,
.entry-content ul,
.entry-content ol,
.entry-content dd,
.entry-content pre,
.entry-content hr,
.commentlist p {
 margin-bottom: 1.0em;
}
#header-widget-area {
 width: 33%;
}
#branding {
 height:120px;
}

/* Parabola Custom CSS */
/* end */

.fluid-width-video-wrapper {
 width: 100%;
 position: relative;
 padding: 0;
}
.fluid-width-video-wrapper iframe,
.fluid-width-video-wrapper object,
.fluid-width-video-wrapper embed {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}
